/*centered div*/
.c-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

}

.myclass{
    background-color: #6c63ff;
    width: 7rem;
    margin-left: 9rem;
    margin-bottom: 1rem;
    color: aliceblue;
    padding: 1rem;
    border-color: transparent;
    
   
}