<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="UTF-8">
	<title>Upload MRI Scan Image</title>
	<link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>
<body>
	<header>
		<h1>MRI Scan Prediction</h1>
	</header>
	<main>
		<section class="upload-form">
			<h2>Upload MRI Scan Image</h2>
			<form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
				<div class="form-group">
					<label for="mri-scan">Select MRI Scan Image:</label>
					<input type="file" id="mri-scan" name="mri-scan" accept=".jpg,.jpeg,.png,.gif" required>
				</div>
				<div class="form-group">
					<label for="patient-name">Patient Name:</label>
					<input type="text" id="patient-name" name="patient-name" required>
				</div>
				
				<button type="submit" class="cta-btn">Analyze MRI Scan</button>
			</form>
		</section>
	</main>
	<footer>
		<p>&copy; 2023 MRI Scan Prediction.</p>
	</footer>
	
</body>
</html>
